@charset "UTF-8";
@import "compass/reset";
@import "compass/typography";
@import "compass/layout";
@import "compass/css3";

// base
$white      : #fafafa;
$yellow     : #FFBA33;
$green      : #30AD63;
$gray       : #CECED2;
$gray1      : #808080;
$black      : #525151;
$black1     : #404040;
$black2     : #4A4A4A;

// config
/// Input
$base__InvalidAlertColor  : #a94442;
/// Typography && Foreground Colors
$base__ForegroundColor    : $yellow;
$base__TypeColor          : $black;
$base__hrColor            : $gray1;
$base__OrderTypeColor     : $gray1;
$link__NormalColor        : $base__ForegroundColor;
$link__HoverColor         : $yellow;
$section__TitleColor      : $gray;
$cuisine__TitleColor      : $base__TypeColor;
$price__TagColor          : $gray;
$TagColor                 : $green;
$TagBorderColor           : $green;

/// Background colors
$base__BackGround         : $white;
$base__ContrastBackGround : $black1;
$item__BackGround         : #ffffff;


/// Typography
$base__LineHeight       : 1.375em !default;
$base__font-size        : 1em  !default;
$base__font-family      : -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', Helvetica, sans-serif;
$base__TextColor        : hsla(0, 0%, 0%, 1);
@include font-face("icomiaomfood",
            font-files("icomiaomfood.woff", woff,
                       "icomiaomfood.ttf", ttf),
                       "icomiaomfood.eot", normal, normal);

/// Layout
$base__gutter           : 2px;
$banner__height         : 46px;
$minimum-window-width   : 320px;
$golden-ratio: 0.61803398874989484820458;
@mixin columns--2 ($gutter: $base__gutter) {
  position: relative;
  display: inline-block;
  width: calc( ( 100% - #{$gutter} ) / 2 );

  &:nth-child(2n) {
    /*float: right;*/
    margin-left: $gutter;
  }
}
@mixin columns__3 ($gutter: $base__gutter) {
  position: relative;
  display: inline-block;
  width: calc( (100% - 2 * #{$base__gutter} ) / 3);

  &:nth-child(3n-1),
  &:nth-child(3n) {
    margin-left: $base__gutter;
  }

  &:nth-child(3n+1) {
    margin-left: 0;
  }
}

// Functions
@function calc-em($target, $context: $base__font-size) {
  @return ($target / $context) * 1em;
}

@function calc-rem($target) {
  @return ($target / $base_-font-size) * 1 rem;
}

// mixins
@mixin b--equal-ratio($ratio) {
  content: "";
  display: block;
  height: 0;
  padding-top: $ratio;
}

/*@mixin b--centered {
  display: block;
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  height: auto;
}*/

@mixin b--centered {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix {
  &:before,
  &clearfix:after {
    display: table;
    content: " ";
  }

  &:after { clear: both;  }
}

*,
*:before,
*:after { @include box-sizing(border-box) }

a {
  text-decoration: none;
  @include link-colors( $link__NormalColor,
                        $link__HoverColor)
  }

html { font-size: calc-em(1em, 1em); }

body {
  margin: 0;
  color: $base__TextColor;
  background-color: $white;
  font-family: $base__font-family;
}

img {
  vertical-align: top;
  max-width: 100%;
}

input,
textarea {
  background: $white;
  border: 1px solid #D8D8D8;
  @include border-radius(3px);
  padding: 2px 5px;
  font-size: 1em;
  /*-webkit-appearance: none;*/
}

input[type="radio"] { @include border-radius(100%); }

.form-cell {
  display: inline-block;

  &.isInvalid .customer__name,
  &.isInvalid .customer__phone {
    border: 1px solid $base__InvalidAlertColor;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
  }

  &.isInvalid .customer__name:focus,
  &.isInvalid .customer__phone:focus {
    @include box-shadow(inset 0 0 2px $base__InvalidAlertColor);
  }
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: $minimum-window-width;
  margin: 0 auto;
  padding: 0 0 1rem;
}

.clearfix{ @include clearfix; }
.wrp_ratio--golden:before { @include b--equal-ratio(percentage($golden-ratio));}
.wrp_ratio--4_3:before { @include b--equal-ratio(75.000%); }
.wrp--stretched {
  overflow: hidden;
  @include stretch(0, 0, 0, 0);
}
.wrp--centering { @include b--centered; }

.icon {
  &:before { font-family: "icomiaomfood"; }

  &__wechat:before   { content: "\e901"; }
  &__phone:before    { content: "\e91a"; }
  &__location:before { content: "\e91c"; }
  &__rest-day:before    { content: "\e90b"; }
  &__cuisines:before { content: "\e912"; }
  &__comment:before  { content: "\e92c"; }
  &__schedule-picker:before { content: "\e921"; }
  &__customer:before { content: "\e92f"; }
  &__address:before  { content: "\e91c"; }
  &__payment:before  { content: "\e919"; }
}

/*
.icon__payment:before  {
  content: "¥";
  font-family: $base__font-family;
}
*/

.section__title {
  color: $section__TitleColor;
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
  line-height: $base__LineHeight;
  padding: 0.125rem 0.5rem;
}

.slideshow,
.item__header {
  position: relative;
  width: 100%;
}
.item__body {
  position: relative;
  padding: 2px 2px 0 8px;
  height: 76px;
}
.cuisine {
  &__picture {
    width: 100%;
    max-width: 100%;
    min-width: 150px;
  }

  &__title {
    overflow: hidden;
    color: $cuisine__TitleColor;
    font-size: 1.063em;
    margin: 0;
    line-height: 1.5em;
  }

  &__currency,
  &__price {
    color: $price__TagColor;
    font-weight: lighter;
  }

  &__currency {
    margin-right: 3px;
  }

  &__price {
    font-size: 1em;
    line-height: $base__LineHeight;
  }

  &__button {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 2em;
    height: 2em;
    background: no-repeat center/100% image_url("Add_Button.png");
  }
}

.slideshow {
  &__pagination {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    line-height: 0.5em;
    text-align: center;
  }
}

.pagination__bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  opacity: 0.2;
  border: 1px solid #525151;
  @include border-radius(100%);

  &--active {
    background: $yellow;
    opacity: 1;
    border: 1px solid $yellow;
  }
}

.controller-bar {
  position: relative;
  height: $banner__height;
  width : 100%;
  background-color: hsla(0, 0%, 100%, 0.9);
  margin-top: 0.5em;
  padding: 0.188rem 0.5rem;

  &--stickyOrderTop {
    position: fixed;
    top    : 0;
    right  : 0;
    z-index: 999999;
    margin-top  : 0;
    padding-right: 1em;
    background-color: $base__ContrastBackGround;
  }

  &--stickyMenuTop {
    position: fixed;
    top    : 0;
    right  : 0;
    z-index: 999999;
  }
}

.notice-board {
  float: left;
  height: 100%;

  &__notice {
    border: 1px solid $TagBorderColor;
    @include border-radius(1em);
    padding: 0.125rem 0.625rem;
    height: 17px;
    line-height: 1.063em;
    font-size: 0.813em;
    text-align: center;
  }
}

.checkout-button {
  float  : right;
  height : 100%;
  z-index: 999999;

  &__label {
    color: $base__ForegroundColor;
    font-size: 1.25em;
  }

  img {
    max-height: 40px;
  }
}

.item-list {
  /*position: relative;
  width: 100%;*/
  text-align: justify;
  vertical-align: top;
}

.tag {
  &__leading {
    color: $item__BackGround;
    background: $TagBorderColor;
    border: 1px solid $TagBorderColor;
    @include border-bottom-left-radius(1em);
    @include border-top-left-radius(1em);
  }

  &__trailing {
    color: $TagBorderColor;
    background: $item__BackGround;
    border: 1px solid $TagBorderColor;
  }

  &--isEmpty {
    .tag__leading,
    .tag__trailing {
      background: $white;
      color: $TagBorderColor;
    }

    .tag__leading {
      border: 1px dashed $TagBorderColor;
      border-right: none;
    }

    .tag__trailing {
      border: 1px dashed $TagBorderColor;
      border-left: none;
    }
  }
}

.counter-tag {
  position: absolute;
  left: 0.5em;
  right: 2px;
  bottom: 0.5em;
  opacity:  0.75;

  .tag__leading,
  .tag__trailing {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    font-size: 0.75em;
  }
}

.addition-tag {
  display: inline-block;
  margin: 1.25em 0;
  text-align: center;
  vertical-align: middle;

  .tag__leading,
  .tag__trailing {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    /*font-weight: bold;*/
  }

  .tag__leading {
    padding-left: 1em;
    padding-right: 0.5em;
  }

  .tag__trailing {
    min-width: 4em;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0, 25, 0.95);
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  @include transition(visibility 0s 0.5s, opacity 0.5s 0s);

  &.isVisible {
    opacity: 1;
    visibility: visible;
    @include transition(visibility 0s 0s, opacity 0.5s 0s);
  }
}

.addition-panel {
  position: relative;
  background: #FFF;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  @include transform(translateY(-40px));
  @include transition-property(all);
  @include transition-duration(0.5s);

  &.isVisible {
    opacity: 1;
    @include transform(translateY(0));
    @include transition(translateY 0.5s 0s);
  }

  &__title-wrap {
    position: relative;
  }

  &__title-wrap:before {
    @include b--equal-ratio(percentage( (1 - $golden-ratio) * (1 - $golden-ratio) ));
  }

  &__title {
    @include b--centered;

    color: $cuisine__TitleColor;
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  &__btn-add,
  &__btn-retract {
    display: inline-block;
    margin-left: 2em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
  }

  &__btn-add {
    background: no-repeat center/100% image_url("Add_Button_square.png");
  }

  &__btn-retract {
    background: no-repeat center/100% image_url("retract.png");
  }
}

.miao-button {
  position: relative;
  margin: 1em auto;
  width: 2.75em;
  max-width: 100%;
  min-width: 2.75em;
  min-height: 2.75em;
  background: no-repeat center/100% image_url("喵.png");
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  @include transform(translateY(40px));
  @include transition-property(all);
  @include transition-duration(0.5s);

  &.isVisible {
    opacity: 1;
    @include transform(translateY(0));
    @include transition(translateY 0.5s 0s);
  }
}

.checkout-panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  padding-top: $banner__height;
  @include transition-duration(0.4s);
  height: 100%;
  width: 100%;
  background: $white;

  &.isVisible {
    opacity: 1;
    @include transform(translateY(0));
    @include transition(translateY 0.5s 0s);
  }
}

.order-page {
  margin-left: percentage(44px/320px);
  margin-right: percentage(16px/320px);
  margin-top: 0.75em;
  background-color: $white;
}

.order__cuisines {
  position: relative;
  margin-top: 0.75em;
  color: $base__TypeColor;

  &:before {
    position: absolute;
    left: -1.3125em;
    top : 5px;
    font-size  : 1.25em;
    font-weight: 100;
  }
}

.header-table {
  margin-top: 0.75em;

  .cuisine-header-tbl {
    width: 100%;
    table-layout: fixed;

    thead {
      color: $base__TypeColor;
      border-bottom: 1px solid $base__hrColor;
      /*box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.50);*/

      th {
        padding: 5px 5px;
        text-align: right;
        font-weight: 500;
        font-size: 1em;
        color: $base__OrderTypeColor;

        &:first-child {
          width: 130px;
          padding-left: 0;
          text-align: left;
        }
      }
    }
  }
}

.content-table {
  max-height: 320px;
  overflow-x: auto;
  margin-top: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);

  .cuisine-body-tbl {
    width: 100%;
    table-layout: fixed;

    tbody td { padding: 0.5em   5px; }
    tfoot td { padding: 0.375em 5px; }

    tbody,
    tfoot {
      td {
        text-align: right;
        vertical-align: middle;
        font-weight: 300;
        font-size: 1em;
        color: #808080;

        &:first-child {
          padding-left: 0;
          width: 130px;
          text-align: left;
        }
      }
    }
    tfoot {
      border-top: 1px solid $base__hrColor;

      tr:last-child td  {
        font-weight: 500;
      }
    }
  }
}

.coupon-input {
  margin-left: 1em;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: $base__OrderTypeColor;
  max-width: percentage(152px / (320px - 44px - 16px) );
}

.order__comment {
  position: relative;
  color: $base__OrderTypeColor;
  width: 100%;

  input {
    width: 100%;
    margin-top: 0.375em;
    padding: 0;
    padding-bottom: 1px;
    border-width: 0;
    background: $white;
    border-bottom: 1px dotted #979797;
  }

  &:before {
    position: absolute;
    left: -1.3125em;
    top : 5px;
    font-size  : 1.25em;
  }
}

.order__schedule,
.order__payment {
  position: relative;
  margin-top: 1em;
  color: $base__OrderTypeColor;
  font-weight: 500;

  &:before {
    position: absolute;
    left: -1.3125em;
    font-size  : 1.25em;
    font-weight: 100;
  }

  .form-cell {
  }

  label {
    margin-right: 2em;

    input {
      margin-right: 0.5em;
    }
  }
}

.schedule-picker {
  position: relative;
  margin-top: 1em;
  color: $base__OrderTypeColor;

  &:before {
    position: absolute;
    left: -1.3125em;
    font-size  : 1.25em;
    font-weight: 100;
  }
}

.order__customer {
  position: relative;
  margin-top: 0.75em;
  color: $base__OrderTypeColor;

  &:before {
    position: absolute;
    left: -1.3125em;
    top : 5px;
    font-size  : 1.25em;
    font-weight: 100;
  }

  .form-cell {
    max-width: percentage(118px / (320px - 44px - 16px) );
    margin-right: 0.75em;
  }

  .customer__name {
    max-width: 100%;
  }
  .customer__phone {
    max-width: 100%;
  }
}

.order__address {
  position: relative;
  margin-top: 0.75em;
  width: 100%;
  color: $base__OrderTypeColor;

  .form-cell.isInvalid {
    border: 1px solid $base__InvalidAlertColor;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
  }

  .form-cell.isInvalid:focus {
    @include box-shadow(inset 0 0 2px $base__InvalidAlertColor);
  }

  textarea {
    min-width : 100%;
    max-width : 100%;
    max-height: 3em;
  }

  &:before {
    position: absolute;
    left: -1.3125em;
    top : 5px;
    font-size  : 1.25em;
    font-weight: 100;
  }
}

.btn__submit {
  display: block;
  position: absolute;
  right: 1em;
  /*background-color: $yellow;*/
  /*border-color: $yellow;*/
  background-image: linear-gradient(-180deg, #F2F2F2 0%, #D4D4D4 100%);
  /*box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);*/
  border-radius: 0.5em;
  font-size: 20px;
  color: #FAB327;
  line-height: 28px;

  &--disabled {
    color: $base__TypeColor;
  }
}

.footer {
  position: relative;
  margin-top: 1em;
  font-size: 1em;
  color: $base__ForegroundColor;
  font-weight: lighter;
}

.card--back {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  background-color: #000;

  .card__title {
    margin: 1em 0.5em;

    &:before {
      margin-right: 0.5em;
    }
  }
}

.card--back figure {
  display: inline-block;
  max-width: 31%;
  text-align: center;
}

.card--back .card__title {
  font-size: 1em;
  font-weight: lighter;
  text-align: left;
}

.card--back figcaption h2 {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 0.875em;
  font-weight: lighter;
  text-align: center;
}

.card--back figcaption p {
  font-size: 0.688em;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 14px;
}

.crease {
  border-width: 0;
  font-size: 0;
  border-top: 1px dotted #F2F2F2;
}

.card--front {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  background-color: #000;

  .card__phone,
  .card__location,
  .card__rest-day {
    margin: 1em 0.5em;
  }

  .card__phone:before,
  .card__location:before,
  .card__rest-day:before  {
    margin-right: 0.5em;
  }
}

.card--front img {
  position: absolute;
  right: 8px;
  bottom: 16px;
  width: 77px;
}

.card--front ul {
  margin: 4em 0;
}

/* 2 column's layout */
@media screen and (max-width: 480px) {
  .item {
    margin-bottom: 8px;
    background-color: $item__BackGround;
    @include columns--2;
  }

  .addition-panel {
    width: 100%;
    margin: 30% auto;
    margin-bottom: 0;
  }

  .footer {
    width: 100%;
  }
}

/* 3 column's items */
@media screen and (min-width: 480px) and (max-width: 720px) {
  .item {
    margin-bottom: 8px;
    background-color: $item__BackGround;
    @include columns--3;
  }

  .addition-panel {
    max-width: 66.6666666%;
    margin: 35% auto;
    margin-bottom: 0;
  }

  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) and (orientation: landscape)  {
  .addition-panel {
    max-width: 66.6666666%;
    margin: 0 auto;
  }
}

/* 1 column's 320px sidebar  + 2 column's items */
@media screen and (min-width: 720px) and (max-width: 800px) {
  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .controller-bar {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em);
    margin-left: 1em;
  }

  .section-wrapper {
    /*position: absolute;*/
    margin-top: $banner__height;
    margin-right: 1em;
    clear: right;
    float: right;
    width: calc(100% - 320px - 3em);
  }

  .item {
    margin-bottom: 8px;
    background-color: $item__BackGround;
    @include columns--2;
  }

  .addition-panel {
    max-width: 480px;
    margin: 320px auto;
    margin-bottom: 0;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}

/* 1 column's 320px sidebar + 3 column's items */
@media screen and (min-width: 800px) and (max-width: 1040px) {
  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .controller-bar {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em);
    margin-left: 1em;
  }

  .section-wrapper {
    /*position: absolute;*/
    margin-right: 1em;
    margin-top: $banner__height;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em );
  }

  .item {
    margin-bottom: 8px;
    background-color: $item__BackGround;
    @include columns--3;
  }

  .addition-panel {
    max-width: 480px;
    margin: 480px auto;
    margin-bottom: 0;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}

/* 1 column's 320px sidebar + 3 column's 240px items,
should been wthin a 1040px wrapper
which place near the left side of the browser window*/
@media screen and (min-width: 1040px)  {
  .wrapper {
    width: 1040px;
  }

  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .controller-bar {
    $banner__width  : calc(1040px - 320px - 3em);
    $banner-offset  : calc(1040px / 2 - 1em);

    position: fixed;
    top: 1em;
    right: 50%;
    transform: translateX($banner-offset);
    z-index: 999;
    clear: right;
    float: right;
    width: $banner__width;
    margin-left: 1em;
  }

  .section-wrapper {
    margin-right: 1em;
    margin-top: $banner__height;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em );
  }

  .item {
    margin-bottom: 8px;
    background-color: $item__BackGround;
    @include columns--3;
  }

  .addition-panel {
    max-width: 480px;
    margin: 480px auto;
    margin-bottom: 0;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}
