html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "icomiaomfood";
  src: url('icomiaomfood.eot?1456568476');
  src: url('icomiaomfood.eot?&1456568476#iefix') format('embedded-opentype'), url('icomiaomfood.woff?1456568476') format('woff'), url('icomiaomfood.ttf?1456568476') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFBA33;
}
a:hover {
  color: #FFBA33;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  color: black;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft YaHei", Helvetica, sans-serif;
}

img {
  vertical-align: top;
  max-width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 0 1rem;
}

.clearfix:before, .clearfixclearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

.wrp_ratio--golden:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 61.8034%;
}

.wrp_ratio--4_3:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 75%;
}

.wrp--stretched {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrp--centering {
  display: block;
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  height: auto;
}

.icon {
  margin: 1em 0.5em;
}
.icon:before {
  margin-right: 0.5em;
  font-family: "icomiaomfood";
}
.icon__wechat:before {
  content: "\e901";
}
.icon__phone:before {
  content: "\e91a";
}
.icon__location:before {
  content: "\e91c";
}
.icon__timer:before {
  content: "\e90b";
}

.section__title {
  color: #CECED2;
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
  line-height: 1.375em;
  padding: 0.125rem 0.5rem;
}

.slideshow,
.item__header {
  position: relative;
  width: 100%;
}

.item__body {
  position: relative;
  padding: 2px 2px 0 8px;
  height: 76px;
}

.cuisine__picture {
  width: 100%;
  max-width: 100%;
  min-width: 150px;
}
.cuisine__title {
  overflow: hidden;
  color: #525151;
  font-size: 1.063em;
  margin: 0;
  line-height: 1.5em;
}
.cuisine__currency, .cuisine__price {
  color: #CECED2;
  font-weight: lighter;
}
.cuisine__currency {
  margin-right: 3px;
}
.cuisine__price {
  font-size: 1em;
  line-height: 1.375em;
}
.cuisine__button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 44px;
  height: 44px;
  background: no-repeat center/100% url('../img/Add_Button.png?1456568476');
}

.slideshow__pagination {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  line-height: 0.5em;
  text-align: center;
}

.pagination__bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  opacity: 0.2;
  border: 1px solid #525151;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.pagination__bullet--active {
  background: #FFBA33;
  opacity: 1;
  border: 1px solid #FFBA33;
}

.banner {
  position: relative;
  height: 46px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 0.5em;
  padding: 0.188rem 0.5rem;
}

.notice-board {
  float: left;
  height: 100%;
}
.notice-board__notice {
  border: 1px solid #30AD63;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  padding: 0.125rem 0.625rem;
  height: 17px;
  line-height: 1.063em;
  font-size: 0.813em;
  text-align: center;
}

.btn-order {
  float: right;
  height: 100%;
}
.btn-order__label {
  color: #FFBA33;
  font-size: 1.25em;
}

.btn-order img {
  max-height: 40px;
}

.btn-order img {
  max-height: 40px;
}

.btn-order img {
  max-height: 40px;
}

.item-list {
  /*position: relative;
  width: 100%;*/
  text-align: justify;
  vertical-align: top;
}

.tag {
  position: absolute;
  left: 8px;
  bottom: 2px;
  padding-right: 1px;
  height: 22px;
  line-height: 1.375em;
  background: #30AD63;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  text-align: center;
}
.tag__leading {
  margin: 5px 5px;
  font-size: 0.75em;
  color: #FFFFFF;
  height: 22px;
  line-height: 1.375em;
}
.tag__trailing {
  margin: 5px 5px;
  font-size: 0.75em;
  line-height: 1.375em;
  height: 20px;
  padding-left: 5px;
  color: #30AD63;
  background: #ffffff;
}
.tag__amount {
  padding-right: 5px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.95);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -moz-transition: visibility 0s 0.5s, opacity 0.5s 0s;
  -o-transition: visibility 0s 0.5s, opacity 0.5s 0s;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -webkit-transition-delay: 0.5s, 0s;
  transition: visibility 0s 0.5s, opacity 0.5s 0s;
}
.modal.isVisible {
  opacity: 1;
  visibility: visible;
  -moz-transition: visibility 0s 0s, opacity 0.5s 0s;
  -o-transition: visibility 0s 0s, opacity 0.5s 0s;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -webkit-transition-delay: 0s, 0s;
  transition: visibility 0s 0s, opacity 0.5s 0s;
}

.addition-panel {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 30% auto;
  background: #FFF;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.addition-panel.isVisible {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: translateY 0.5s 0s;
  -o-transition: translateY 0.5s 0s;
  -webkit-transition: translateY 0.5s;
  -webkit-transition-delay: 0s;
  transition: translateY 0.5s 0s;
}

.footer {
  position: relative;
  margin-top: 1em;
  font-size: 1em;
  color: #FFBA33;
  font-weight: lighter;
}

.card--back {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  background-color: #000;
}

.card--back figure {
  display: inline-block;
  max-width: 31%;
  text-align: center;
}

.card--back .card__title {
  font-size: 1em;
  font-weight: lighter;
  text-align: left;
}

.card--back figcaption h2 {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 0.875em;
  font-weight: lighter;
  text-align: center;
}

.card--back figcaption p {
  font-size: 0.688em;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 14px;
}

.crease {
  border-width: 0;
  font-size: 0;
  border-top: 1px dotted #F2F2F2;
}

.card--front {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  background-color: #000;
}

.card--front img {
  position: absolute;
  right: 8px;
  bottom: 16px;
  width: 77px;
}

.card--front ul {
  margin: 4em 0;
}

/* 2 column's layout */
@media screen and (max-width: 480px) {
  .item {
    margin-bottom: 8px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    width: calc( ( 100% - 2px ) / 2 );
  }
  .item:nth-child(2n) {
    /*float: right;*/
    margin-left: 2px;
  }

  .footer {
    width: 100%;
  }
}
/* 3 column's items */
@media screen and (min-width: 480px) and (max-width: 720px) {
  .item {
    margin-bottom: 8px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    width: calc( (100% - 2 * 2px ) / 3);
  }
  .item:nth-child(3n-1), .item:nth-child(3n) {
    margin-left: 2px;
  }
  .item:nth-child(3n+1) {
    margin-left: 0;
  }

  .footer {
    width: 100%;
  }
}
/* 1 column's 320px sidebar  + 2 column's items */
@media screen and (min-width: 720px) and (max-width: 800px) {
  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .banner {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em);
    margin-left: 1em;
  }

  .section-wrapper {
    /*position: absolute;*/
    margin-top: 46px;
    margin-right: 1em;
    clear: right;
    float: right;
    width: calc(100% - 320px - 3em);
  }

  .item {
    margin-bottom: 8px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    width: calc( ( 100% - 2px ) / 2 );
  }
  .item:nth-child(2n) {
    /*float: right;*/
    margin-left: 2px;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}
/* 1 column's 320px sidebar + 3 column's items */
@media screen and (min-width: 800px) and (max-width: 1040px) {
  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .banner {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em);
    margin-left: 1em;
  }

  .section-wrapper {
    /*position: absolute;*/
    margin-right: 1em;
    margin-top: 46px;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em );
  }

  .item {
    margin-bottom: 8px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    width: calc( (100% - 2 * 2px ) / 3);
  }
  .item:nth-child(3n-1), .item:nth-child(3n) {
    margin-left: 2px;
  }
  .item:nth-child(3n+1) {
    margin-left: 0;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}
/* 1 column's 320px sidebar + 3 column's 240px items,
should been wthin a 1040px wrapper
which place near the left side of the browser window*/
@media screen and (min-width: 1040px) {
  .wrapper {
    width: 1040px;
  }

  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .banner {
    position: fixed;
    top: 1em;
    right: 50%;
    transform: translateX(calc(1040px / 2 - 1em));
    z-index: 999;
    clear: right;
    float: right;
    width: calc(1040px - 320px - 3em);
    margin-left: 1em;
  }

  .section-wrapper {
    margin-right: 1em;
    margin-top: 46px;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em );
  }

  .item {
    margin-bottom: 8px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    width: calc( (100% - 2 * 2px ) / 3);
  }
  .item:nth-child(3n-1), .item:nth-child(3n) {
    margin-left: 2px;
  }
  .item:nth-child(3n+1) {
    margin-left: 0;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
