@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "icomiaomfood";
  src: url('icomiaomfood.eot?1459786719');
  src: url('icomiaomfood.eot?&1459786719#iefix') format('embedded-opentype'), url('icomiaomfood.woff?1459786719') format('woff'), url('icomiaomfood.ttf?1459786719') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*@mixin b--centered {
  display: block;
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  height: auto;
}*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFBA33;
}
a:hover {
  color: #FFBA33;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  /*padding-bottom: $nav-hd__height;*/
  color: black;
  background: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft YaHei", Helvetica, sans-serif;
}

img {
  vertical-align: top;
  max-width: 100%;
}

input,
textarea {
  background: #fafafa;
  border: 1px solid #D8D8D8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 1em;
  -webkit-appearance: none;
}

.is-invalid input {
  border: 1px solid #a94442;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.is-invalid input:focus {
  /*@include box-shadow(inset 0 0 2px $base__InvalidAlertColor);*/
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.clearfix:before, .clearfixclearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

.wrp_ratio--golden:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 61.8034%;
}

.wrp_ratio--4_3:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 75%;
}

.wrp--stretched {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrp--centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon:before {
  font-family: "icomiaomfood";
}
.icon__wechat:before {
  content: "\e901";
}
.icon__phone:before {
  content: "\e91a";
}
.icon__location:before {
  content: "\e91c";
}
.icon__rest-day:before {
  content: "\e90b";
}
.icon__cuisines:before {
  content: "\e912";
}
.icon__comment:before {
  content: "\e92c";
}
.icon__schedule:before {
  content: "\e921";
}
.icon__user:before {
  content: "\e92f";
}
.icon__address:before {
  content: "\e91c";
}
.icon__payment:before {
  content: "\e918";
}

.section__title {
  color: #CECED2;
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
  line-height: 1.375em;
  padding: 0.125rem 0.5rem;
}

.slideshow {
  position: relative;
  width: 100%;
}

.item {
  margin-bottom: 8px;
  background: #ffffff;
}
.item .item__header {
  position: relative;
  width: 100%;
}
.item .item__body {
  position: relative;
  padding: 2px 2px 0 8px;
  height: 76px;
}

.cuisine__picture {
  width: 100%;
  max-width: 100%;
  min-width: 150px;
}
.cuisine__title {
  overflow: hidden;
  color: #525151;
  font-size: 1.063em;
  margin: 0;
  line-height: 1.5em;
}
.cuisine__currency, .cuisine__price {
  color: #CECED2;
  font-weight: lighter;
}
.cuisine__currency {
  margin-right: 3px;
}
.cuisine__price {
  font-size: 1em;
  line-height: 1.375em;
}
.cuisine__button {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 2em;
  height: 2em;
  background: no-repeat center/100% url('../img/Add_Button.png?1459786719');
}

.slideshow__pagination {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  line-height: 0.5em;
  text-align: center;
}

.pagination__bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  opacity: 0.2;
  border: 1px solid #525151;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.pagination__bullet--active {
  background: #FFBA33;
  opacity: 1;
  border: 1px solid #FFBA33;
}

.controller-bar {
  position: relative;
  height: 46px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 0.5em;
  padding: 0.188rem 0.5rem;
}
.controller-bar--stickyOrderTop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  margin-top: 0;
  padding-right: 1em;
  background-color: #404040;
}
.controller-bar--stickyMenuTop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
}

.notice-board {
  float: left;
  height: 100%;
}
.notice-board__notice {
  border: 1px solid #30AD63;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  padding: 0.125rem 0.625rem;
  height: 17px;
  line-height: 1.063em;
  font-size: 0.813em;
  text-align: center;
}

.checkout-button {
  float: right;
  height: 100%;
  z-index: 999999;
}
.checkout-button__label {
  color: #FFBA33;
  font-size: 1.25em;
}
.checkout-button img {
  max-height: 40px;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99999;
  font-size: 1.125em;
  font-weight: 200;
  line-height: 1.5em;
  background-color: rgba(50, 45, 52, 0.95);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.nav.is-pullup {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.nav__hd {
  position: absolute;
  top: -2.75rem;
  padding: 0 1em;
  width: 100%;
  height: 2.75rem;
  color: #FFBA33;
  background-color: rgba(50, 45, 52, 0.95);
  -moz-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.5);
}
.nav__hd:before {
  content: "";
  display: block;
  position: absolute;
  height: 21px;
  width: 66px;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  z-index: 99998;
  background-image: url('../img/doroid.svg?1460656292');
}
.nav__bd {
  overflow: hidden;
  padding: 0.25em 0.25em 1em;
  color: #fafafa;
}
.nav li {
  /*line-height: 2em;*/
  text-align: center;
}

.nav__menu,
.nav__tasty,
.nav__drink {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav__tasty {
  left: 5%;
}
.nav__tasty:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2.2rem;
  height: 2.2rem;
  background: no-repeat center/50% url('../img/ico_tasty.png?1460700003');
}

.nav__drink {
  right: 5%;
}
.nav__drink:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2.2rem;
  height: 2.2rem;
  background: no-repeat center/50% url('../img/ico_drink.png?1460700031');
}

.nav__menu {
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 1.25em;
}

.nav__bd a li {
  color: #fafafa;
}
.nav__bd .tasty-list {
  float: left;
  width: 50%;
}
.nav__bd .drink-list {
  float: right;
  width: 50%;
}

.item-list {
  /*position: relative;
  width: 100%;*/
  text-align: justify;
  vertical-align: top;
}

.tag__leading {
  color: #ffffff;
  background: #30AD63;
  border: 1px solid #30AD63;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-bottom-left-radius: 1em;
  border-bottom-left-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  border-top-left-radius: 1em;
}
.tag__trailing {
  color: #30AD63;
  background: #ffffff;
  border: 1px solid #30AD63;
}
.tag--isEmpty .tag__leading,
.tag--isEmpty .tag__trailing {
  background: #fafafa;
  color: #30AD63;
}
.tag--isEmpty .tag__leading {
  border: 1px dashed #30AD63;
  border-right: none;
}
.tag--isEmpty .tag__trailing {
  border: 1px dashed #30AD63;
  border-left: none;
}

.counter-tag {
  position: absolute;
  left: 0.5em;
  right: 2px;
  bottom: 0.5em;
  opacity: 0.75;
}
.counter-tag .tag__leading,
.counter-tag .tag__trailing {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  font-size: 0.75em;
}

.addition-tag {
  display: inline-block;
  margin: 1.25em 0;
  text-align: center;
  vertical-align: middle;
}
.addition-tag .tag__leading,
.addition-tag .tag__trailing {
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  line-height: 2em;
  font-size: 1em;
}
.addition-tag .tag__leading {
  padding-left: 1em;
  padding-right: 0.5em;
}
.addition-tag .tag__trailing {
  min-width: 4em;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.95);
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  -moz-transition: visibility 0s 0.5s, opacity 0.5s 0s;
  -o-transition: visibility 0s 0.5s, opacity 0.5s 0s;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -webkit-transition-delay: 0.5s, 0s;
  transition: visibility 0s 0.5s, opacity 0.5s 0s;
}
.modal.is-visible {
  opacity: 1;
  visibility: visible;
  -moz-transition: visibility 0s 0s, opacity 0.5s 0s;
  -o-transition: visibility 0s 0s, opacity 0.5s 0s;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -webkit-transition-delay: 0s, 0s;
  transition: visibility 0s 0s, opacity 0.5s 0s;
}

.addition-panel {
  position: relative;
  text-align: center;
  vertical-align: middle;
  background: #fafafa url('../img/bg.png?1460781833');
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.addition-panel.is-visible {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: translateY 0.5s 0s;
  -o-transition: translateY 0.5s 0s;
  -webkit-transition: translateY 0.5s;
  -webkit-transition-delay: 0s;
  transition: translateY 0.5s 0s;
}
.addition-panel__title-wrap {
  position: relative;
}
.addition-panel__title-wrap:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 14.5898%;
}
.addition-panel__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #525151;
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.addition-panel__btn-add, .addition-panel__btn-retract {
  display: inline-block;
  margin-left: 2em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.addition-panel__btn-add {
  background: no-repeat center/100% url('../img/Add_Button_square.png?1459786719');
}
.addition-panel__btn-retract {
  background: no-repeat center/100% url('../img/retract.png?1459786719');
}

.miao-button {
  position: relative;
  margin: 1em auto;
  width: 2.75em;
  max-width: 100%;
  min-width: 2.75em;
  min-height: 2.75em;
  background: no-repeat center/100% url('../img/喵.png?1459938262');
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.miao-button.is-visible {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: translateY 0.5s 0s;
  -o-transition: translateY 0.5s 0s;
  -webkit-transition: translateY 0.5s;
  -webkit-transition-delay: 0s;
  transition: translateY 0.5s 0s;
}

.checkout-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  padding-top: 46px;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: #fafafa;
  overflow-y: scroll;
  overflow-x: hidden;
}
.checkout-panel.is-visible {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: translateY 0.5s 0s;
  -o-transition: translateY 0.5s 0s;
  -webkit-transition: translateY 0.5s;
  -webkit-transition-delay: 0s;
  transition: translateY 0.5s 0s;
}

.order-page {
  margin-left: 13.75%;
  margin-right: 5%;
  margin-top: 0.75em;
  background-color: #fafafa;
}

.order__cuisines {
  position: relative;
  margin-top: 0.75em;
  color: #525151;
}
.order__cuisines:before {
  position: absolute;
  left: -1.3125em;
  top: 5px;
  font-size: 1.25em;
  font-weight: 100;
}

.header-table {
  margin-top: 0.75em;
}
.header-table .cuisine-header-tbl {
  width: 100%;
  table-layout: fixed;
}
.header-table .cuisine-header-tbl thead {
  color: #525151;
  border-bottom: 1px solid #808080;
  /*box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.50);*/
}
.header-table .cuisine-header-tbl thead th {
  padding: 5px 5px;
  text-align: right;
  font-weight: 500;
  font-size: 1em;
  color: #808080;
}
.header-table .cuisine-header-tbl thead th:first-child {
  width: 130px;
  padding-left: 0;
  text-align: left;
}

.content-table {
  max-height: 320px;
  overflow-x: auto;
  margin-top: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.content-table .cuisine-body-tbl {
  width: 100%;
  table-layout: fixed;
}
.content-table .cuisine-body-tbl tbody td {
  padding: 0.5em 5px;
}
.content-table .cuisine-body-tbl tfoot td {
  padding: 0.375em 5px;
}
.content-table .cuisine-body-tbl tbody td,
.content-table .cuisine-body-tbl tfoot td {
  text-align: right;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1em;
  color: #808080;
}
.content-table .cuisine-body-tbl tbody td:first-child,
.content-table .cuisine-body-tbl tfoot td:first-child {
  padding-left: 0;
  width: 130px;
  text-align: left;
}
.content-table .cuisine-body-tbl tfoot {
  border-top: 1px solid #808080;
}
.content-table .cuisine-body-tbl tfoot tr:last-child td {
  font-weight: 500;
}

.coupon-input {
  margin-left: 1em;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: #808080;
  max-width: 58.46154%;
}

.order__comment input {
  width: 100%;
  margin-top: 0.375em;
  padding: 0;
  padding-bottom: 1px;
  border-width: 0;
  background: #fafafa;
  border-bottom: 1px dotted #979797;
}

.order__comment,
.order__schedule,
.schedule-picker,
.order__payment,
.customer__name,
.customer__phone,
.order__address {
  position: relative;
  margin-top: 0.75em;
  width: 100%;
  height: 1.5em;
  color: #808080;
  font-weight: 500;
}
.order__comment:before,
.order__schedule:before,
.schedule-picker:before,
.order__payment:before,
.customer__name:before,
.customer__phone:before,
.order__address:before {
  position: absolute;
  left: -1.3125em;
  font-size: 1.25em;
  font-weight: 100;
}

.order__address {
  height: 3em;
}
.order__address textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 3em;
}

.btn__radio {
  float: left;
  text-align: center;
  margin-right: 1em;
  padding: 1px 0.5em;
  border: 1px dashed #CECED2;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  font-size: 1em;
  color: #D8D8D8;
  background-color: #fafafa;
}
.btn__radio.is-selected {
  border: 1px solid #30AD63;
  color: #525151;
}

.btn__submit {
  display: block;
  position: absolute;
  right: 1em;
  margin-top: 1em;
  /*background-color: $yellow;*/
  /*border-color: $yellow;*/
  background-image: linear-gradient(-180deg, #f2f2f2 0%, #d4d4d4 100%);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  font-size: 20px;
  color: #FAB327;
  line-height: 28px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
}
.btn__submit--disabled {
  color: #D8D8D8;
}

.footer {
  position: relative;
  margin-top: 1em;
  margin-bottom: 2.75rem;
  font-size: 1em;
  color: #FFBA33;
  font-weight: lighter;
}

.card--back {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  background-color: #000;
}
.card--back .card__title {
  margin: 1em 0.5em;
}
.card--back .card__title:before {
  margin-right: 0.5em;
}

.card--back figure {
  display: inline-block;
  max-width: 31%;
  text-align: center;
}

.card--back .card__title {
  font-size: 1em;
  font-weight: lighter;
  text-align: left;
}

.card--back figcaption h2 {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 0.875em;
  font-weight: lighter;
  text-align: center;
}

.card--back figcaption p {
  font-size: 0.688em;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 14px;
}

.crease {
  border-width: 0;
  font-size: 0;
  border-top: 1px dotted #F2F2F2;
}

.card--front {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  background-color: #000;
}
.card--front .card__phone,
.card--front .card__location,
.card--front .card__rest-day {
  margin: 1em 0.5em;
}
.card--front .card__phone:before,
.card--front .card__location:before,
.card--front .card__rest-day:before {
  margin-right: 0.5em;
}

.card--front img {
  position: absolute;
  right: 8px;
  bottom: 16px;
  width: 77px;
}

.card--front ul {
  margin: 4em 0;
}

/* 2 column's layout */
@media screen and (max-width: 480px) {
  .item {
    position: relative;
    display: inline-block;
    width: calc( ( 100% - 2px ) / 2 );
  }
  .item:nth-child(2n) {
    /*float: right;*/
    margin-left: 2px;
  }

  .addition-panel {
    width: 100%;
    margin: 30% auto;
    margin-bottom: 0;
  }

  .footer {
    width: 100%;
  }
}
/* 3 column's items */
@media screen and (min-width: 480px) and (max-width: 720px) {
  .item {
    position: relative;
    display: inline-block;
    width: calc( (100% - 2 * 2px ) / 3);
  }
  .item:nth-child(3n-1), .item:nth-child(3n) {
    margin-left: 2px;
  }
  .item:nth-child(3n+1) {
    margin-left: 0;
  }

  .addition-panel {
    max-width: 66.6666666%;
    margin: 35% auto;
    margin-bottom: 0;
  }

  .footer {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 720px) and (orientation: landscape) {
  .addition-panel {
    max-width: 66.6666666%;
    margin: 0 auto;
  }
}
/* 1 column's 320px sidebar  + 2 column's items */
@media screen and (min-width: 720px) and (max-width: 800px) {
  .item {
    position: relative;
    display: inline-block;
    width: calc( ( 100% - 2px ) / 2 );
  }
  .item:nth-child(2n) {
    /*float: right;*/
    margin-left: 2px;
  }

  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .controller-bar {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em);
    margin-left: 1em;
  }

  .section-wrapper {
    /*position: absolute;*/
    margin-top: 46px;
    margin-right: 1em;
    clear: right;
    float: right;
    width: calc(100% - 320px - 3em);
  }

  .addition-panel {
    max-width: 480px;
    margin: 320px auto;
    margin-bottom: 0;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}
/* 1 column's 320px sidebar + 3 column's items */
@media screen and (min-width: 800px) and (max-width: 1040px) {
  .item {
    position: relative;
    display: inline-block;
    width: calc( (100% - 2 * 2px ) / 3);
  }
  .item:nth-child(3n-1), .item:nth-child(3n) {
    margin-left: 2px;
  }
  .item:nth-child(3n+1) {
    margin-left: 0;
  }

  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .controller-bar {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em);
    margin-left: 1em;
  }

  .section-wrapper {
    /*position: absolute;*/
    margin-right: 1em;
    margin-top: 46px;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em );
  }

  .addition-panel {
    max-width: 480px;
    margin: 480px auto;
    margin-bottom: 0;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}
/* 1 column's 320px sidebar + 3 column's 240px items,
should been wthin a 1040px wrapper
which place near the left side of the browser window*/
@media screen and (min-width: 1040px) {
  .item {
    position: relative;
    display: inline-block;
    width: calc( (100% - 2 * 2px ) / 3);
  }
  .item:nth-child(3n-1), .item:nth-child(3n) {
    margin-left: 2px;
  }
  .item:nth-child(3n+1) {
    margin-left: 0;
  }

  .wrapper {
    width: 1040px;
  }

  .slideshow {
    float: left;
    width: 320px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .controller-bar {
    position: fixed;
    top: 1em;
    right: 50%;
    transform: translateX(calc(1040px / 2 - 1em));
    z-index: 999;
    clear: right;
    float: right;
    width: calc(1040px - 320px - 3em);
    margin-left: 1em;
  }

  .section-wrapper {
    margin-right: 1em;
    margin-top: 46px;
    clear: right;
    float: right;
    width: calc( 100% - 320px - 3em );
  }

  .addition-panel {
    max-width: 480px;
    margin: 480px auto 0;
  }

  .footer {
    clear: left;
    width: 320px;
    margin-left: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
